@media (min-width: 1500px) {
    .main-content{
        width: calc(100% - 300px);
        padding: 20px 80px;
    }
    .sidebar{
        width: 329px;
    }
}
@media (min-width: 1700px) {
    .main-content{
        width: calc(100% - 320px);
        padding: 20px 120px;
    }
    .sidebar{
        width: 329px;
    }
}
